/* listings.scss */

/* Your listings-specific styles go here */
/* For example, styling the product card */
.product-item {
  .card {
    border: 1px solid #ccc;
    padding: 10px;
  }

  .card-title {
    font-size: 18px;
    font-weight: bold;
  }

  .card-text {
    font-size: 14px;
  }

.favorite-button{
  border-radius: 2px;
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
}
}
