.featured-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.slider-section{
  margin-left: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-feed-container{
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.listings-container{
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  }