.price-filter-section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  bottom: 0;
  width: 140px;
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid rgb(192, 192, 192, 0.7); /* Add border only on the right side */
}

#price-filter-title{
  font-size: 24px;
  font-weight: 600;
}

#priceFilterForm{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 7.5em;
  font-size: 15px;
}

#minPrice {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 6.5em;
}

#maxPrice {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 0.45em;
  width: 6.5em;
}

.price-range-button {
  margin-top: 0.45em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  height: 2em;
  font-size: 15px;
  border-radius: 2px;
  border: 1px solid rgb(192, 192, 192);
  transition: box-shadow 0.01s;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
  border: 1px solid black;
  box-shadow: 0 0 4.5px rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}